<div class="row top">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let products of productList">
    <div class="card h-100 fe-box">
      <!-- Sale badge-->
      <div
        class="badge bg-dark text-white position-absolute"
        style="top: 0.5rem; right: 0.5rem"
      >
        Sale
      </div>
      <!-- Product image-->
      <img class="card-img-top" src="{{ products.productImg }}" alt="..." />
      <!-- Product details-->
      <div class="card-body p-4">
        <div class="text-center">
          <!-- Product name-->
          <a
            class="anchorTagClass"
            href="products/view-product/{{ products.id }}"
            >{{ products.productName }}</a
          >

          <div class="d-flex justify-content-center small text-warning mb-2">
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
          </div>
          <!-- Product price-->
          <span class="text-muted text-decoration-line-through">$20.00</span>
          ${{ products.price }}
        </div>
      </div>
    </div>
  </div>
</div>
