<!-- about Us -->
<section class="white-section" id="aboutUs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <img
          class="aboutUs-image"
          src="\assets\aboutUs.jpg"
          alt="iphone-mockup"
        />
        <!-- <i class="fa-sharp fa-solid fa-cart-shopping-fast aboutUs-image">hello</i> -->
      </div>

      <div class="col-lg-6 aboutUs-para">
        <h2>About Us</h2>
        <p>
          We are Ecommerece company at which you will find the best deal and
          treading cloths. We collabreate with the brand that prefers purpose
          over profit .We are in this market since 2010. Buy our product at best
          price . Feel free to contact us at any time. Our customer service
          always Avaiable for 24*7.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="container">
    <div class="accordion">
      <div class="accordion-item" id="question1">
        <a class="accordion-link" href="#question1">
          <div class="flex">
            <h3>BRANDING</h3>
            <ul>
              <li>#Figma</li>
              <li>#Sketch</li>
              <li>#Adobe</li>
              <li>#Invision</li>
              <li>#Protopie</li>
            </ul>
          </div>
          <i class="icon ion-md-arrow-forward"></i>
          <i class="icon ion-md-arrow-down"></i>
        </a>
        <div class="answer">
          <p>
            We believe in the greater good, we strive to do something for
            people, we aim to make their lives easier and more enjoyable, we
            love businesses that keep this
          </p>
        </div>
        <hr />
      </div>
      <div class="accordion-item" id="question2">
        <a class="accordion-link" href="#question2">
          <div class="flex">
            <h3>UX/UI DESIGN</h3>
            <ul>
              <li>#Figma</li>
              <li>#Sketch</li>
              <li>#Adobe</li>
              <li>#Invision</li>
              <li>#Protopie</li>
            </ul>
          </div>
          <i class="icon ion-md-arrow-forward"></i>
          <i class="icon ion-md-arrow-down"></i>
        </a>
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum.
          </p>
        </div>
        <hr />
      </div>
      <div class="accordion-item" id="question3">
        <a class="accordion-link" href="#question3">
          <div class="flex">
            <h3>FRONTEND DEVELOPMENT</h3>
            <ul>
              <li>#Figma</li>
              <li>#Sketch</li>
              <li>#Adobe</li>
              <li>#Invision</li>
              <li>#Protopie</li>
            </ul>
          </div>
          <i class="icon ion-md-arrow-forward"></i>
          <i class="icon ion-md-arrow-down"></i>
        </a>
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum.
          </p>
        </div>
        <hr />
      </div>
      <div class="accordion-item" id="question4">
        <a class="accordion-link" href="#question4">
          <div>
            <h3>BACKEND DEVELOPMENT</h3>
            <ul>
              <li>#Figma</li>
              <li>#Sketch</li>
              <li>#Adobe</li>
              <li>#Invision</li>
              <li>#Protopie</li>
            </ul>
          </div>
          <i class="icon ion-md-arrow-forward"></i>
          <i class="icon ion-md-arrow-down"></i>
        </a>
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum.
          </p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section> -->
