<!-- First Section -->
<section id="master">
  <h4>Trade-in-offer</h4>
  <h2>Super Value Deal</h2>
  <h1>On all products</h1>
  <h5>Save more with coupons & up to 60% off!</h5>
  <button routerLink="/user">Shop Now</button>
</section>

<!-- about Us -->
<section class="white-section" id="aboutUs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <img
          class="aboutUs-image"
          src="\assets\aboutUs.jpg"
          alt="iphone-mockup"
        />
      </div>

      <div class="col-lg-6 aboutUs-para">
        <h2>About Us</h2>
        <p>
          We are Ecommerece company at which you will find the best deal and
          treading cloths. We collabreate with the brand that prefers purpose
          over profit .We are in this market since 2010. Buy our product at best
          price . Feel free to contact us at any time. Our customer service
          always Avaiable for 24*7.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="colored-section" id="testimonials">
  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h2 class="testimonial-text">
          I have been buying thier product for years , they provide trendy
          cloths at best prices. They never dissappointed me .
        </h2>
        <img
          class="testimonial-image"
          src="\assets\lady-img.jpg"
          alt="dog-profile"
        />
        <em>Pebbles, New York</em>
      </div>
      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text">
          Go for it guys EasyShopLine is pocket friendly with one of the best
          cloths and customer service support.
        </h2>
        <img
          class="testimonial-image"
          src="\assets\lady-img.jpg"
          alt="lady-profile"
        />
        <em>Beverly, Illinois</em>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#testimonial-carousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a
      class="carousel-control-next"
      href="#testimonial-carousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<!-- Features2 -->
<section id="feature" class="section-p">
  <div class="fe-box">
    <img src="\assets\fresh1.png" alt="hello" />
    <h6>Free Shipping</h6>
  </div>
  <div class="fe-box">
    <img src="\assets\online2.png" alt="hello" />
    <h6>Online Order</h6>
  </div>
  <div class="fe-box">
    <img src="\assets\money2.png" alt="hello" />
    <h6>Save Money</h6>
  </div>
  <div class="fe-box">
    <img src="\assets\freshPick.jpg" alt="hello" />
    <h6>Fresh Pick</h6>
  </div>
  <div class="fe-box">
    <img src="\assets\sale2.png" alt="hello" />
    <h6>Happy Sell</h6>
  </div>
  <div class="fe-box">
    <img src="\assets\support2.png" alt="hello" />
    <h6>24/7 Support</h6>
  </div>
</section>
